<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/partials.css">
  <title>Delete Post</title>
</head>

<body>

  <header>
    <%- include("../partials/header"); %>
  </header>

  <p>Are you sure you want to delete the post?</p>
  <form action="/posts/delete/<%= post.id %>" method="POST">
    <button class="btn">Delete</button>
  </form>

  <form action="/posts/show/<%= post.id %>">
    <button class="btn">Cancel</button>
  </form>

  <footer>
    <%- include("../partials/footer"); %>
  </footer>

</body>

</html>